@import "common.less";

/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
section[data-type] {
  .chapter();
}

/* 1단계 제목 */
h1.sect1 {
  .h1();
}

/* 2단계 제목 */
h2.sect2 {
  .h2();
}

/* 3단계 제목 */
h3.sect3 {
  .h3();
}

/* 4단계 제목 */
h4.sect4 {
  .h4();
}

/* 5단계 제목 */
h5.sect5 {
  .h5();
}

/* 6단계 제목 */
h6.sect6 {
  .h6();
}


/* 강조 */
p:not(.right):not(.rightt):not([class^="eq"]):not(.thead):not(.tab-para) {
  em, strong {
    .em();
  }
}

/* 강조 취소(캡션, 박스, 서명, 목차, 하이퍼링크) */
figcaption>p>em, div.side>p>em, p.right>em, section[title2="Contents"] strong, p>em:has(a) {
  .em_cancel();
}


/* 코드블록 */
pre[data-type="example"] {
  .code-block();
}

/* Click here to view code image 제거 */
p.codelink {
  display: none;
}

/* 본문코드 */
:not(pre[data-type="example"])>code {
  .inline-code();
}

/* 제목에 쓰인 코드의 크기 지정 취소 */
h1>code, h2>code, h3>code {
  font-size: revert;
}


/* 캡션(아래) */
figcaption {
  p {
    .caption_down();
  }

  p.title-f1 {
    margin-top: -1rem;
  }
}

/* 캡션(위) */
figcaption>p.title-t {
  .caption_up();
}


/* 캡션 번호 */
figcaption>p>strong {
  background-color: revert !important;
  margin-right: 0.5rem;
}

/* 박스의 제목 */
/*
p.fm-sidebar-title, span.fm-callout-head {
  .box-title();
}
*/

/* 일반 박스 */
div.side, div.box {
  .box();
}

/* 종류가 있는 박스(팁) */
/*
.typed-box_tip() {
  .typed-box_tip();
}
*/

/* 종류가 있는 박스(노트) */
/*
.typed-box_note() {
  .typed-box_note();
}
*/

/* 종류가 있는 박스(주의) */
/*
.typed-box_caution() {
  .typed-box_caution();
}
*/


/* 인용 */
/* blockquote, */
p.bqt, p.bq, p.bqb {
  .blockquote_p_style();
}

p.bqt {
  .blockquote_deco();
}

/* 인용 출처(또는 그냥 서명) */
p.right, p.rightt {
  .byline();
}


/* 문단수식 */
p[class^="eq"] {
  .eq-block();
  margin: 0;
}


/* 판권지 */
section[title2="Copyright Page"] {
  .copyrights();
}


/* 목차 */
section[title2="Contents"] {
  .contents();

  ol {
    padding: 0;
    margin: 0;

    li {
      padding-left: 0 !important;
    }
  }

  /* 목차 1단계 */
  p.toc-chap, p.toc-part, p.toc-fm, p.toc-fmt {
    .contents-l1();
  }

  /* 목차 2단계 */
  p.toc-sec1 {
    .contents-l2();
  }

  /* 목차 3단계 */
  p.toc-sec2 {
    .contents-l3();
  }
}


/* 찾아보기 */
section[title2="Index"] {
  .index();

  ul {
    padding: 0;
  }

  /* 찾아보기 헤딩 */
  p.indexmain1 {
    .index-h();
  }

  /* 찾아보기 1단계 */
  p.indexmain {
    .index-l1();
  }

  /* 찾아보기 2단계 */
  p.indexsub {
    .index-l2();
  }
}


/* 각주. todo: util.js에서 전처리가 필요한데 일단 패스 */
p.footnote {
  .footnote-area();
  border-width: 2px;
  margin-top: 0;
  padding-bottom: 0;

  /* 각주 텍스트 */
  .footnote-text();
}
/* end of mixins */