/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1rem 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
pre {
  margin: 0;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1rem 0;
  padding: 0 0 0 2.25rem;
}
li p:last-child {
  margin-bottom: 0;
}
ul ul,
ol ol {
  margin: 0.3rem 0;
}
dl {
  margin-bottom: 1rem;
}
dl dt {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
dl dd {
  margin: 0 0 0.8rem 2rem;
}
dl dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th,
table thead {
  background-color: #eee;
  padding-right: 1rem;
  text-align: start;
}
table td {
  vertical-align: top;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* 강조 */
/* 강조 취소 */
/* 강조 취소(배경색만) */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* 각주 텍스트 */
/* dt, dd 한 줄에 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
section[data-type] {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1[class^="h1"],
h1[class^="h2"],
h1[class^="chap_"] {
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1[class^="h1"]:first-child,
h1[class^="h2"]:first-child,
h1[class^="chap_"]:first-child {
  break-before: avoid;
}
h1[class^="chap_num"] {
  text-decoration: underline;
  margin-bottom: 0;
}
h1[class^="chap_num"] + h1[class^="chap_title"] {
  margin-top: 0;
}
/* 2단계 제목 */
h2[data-type="sect1"] {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
/* 3단계 제목 */
h3[data-type="sect2"] {
  font-size: 1.375rem;
  font-weight: bold;
}
/* 4단계 제목 */
h4[data-type="sect3"] {
  font-size: 1.275rem;
  font-style: italic;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 5단계 제목 */
h5[data-type="sect4"] {
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0 1rem;
}
/* 6단계 제목 */
h5[data-type="sect5"] {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
}
/* 강조 */
p em,
p strong {
  background-color: lightgreen;
}
/* 강조 취소(캡션, 박스, 서명, 목차, 하이퍼링크) */
figcaption > p > em,
div.side > p > em,
p.right > em,
section[title2="Contents"] strong,
:not(p.gloss):not(p.ref) > em:has(a),
p.ex-caption > em,
p[class^="app"] > em {
  font-style: normal;
  font-weight: normal;
  background-color: revert !important;
}
/* 강조 취소(배경색만) */
p[class^="right"] em,
p[class^="eq"] em,
p.thead em,
p.tab-para em,
p.dedi em,
p[class^="right"] strong,
p[class^="eq"] strong,
p.thead strong,
p.tab-para strong,
p.dedi strong {
  background-color: revert !important;
}
/* 코드블록 */
[data-type="example"] {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
}
/* 상하 여백이 들어가는 경우(balancing coupling...) */
div[data-type="example"]:has(pre) {
  white-space: revert;
}
/* Click here to view code image 제거 */
p.codelink {
  display: none;
}
/* 본문코드 */
:not([data-type="example"] pre) > code {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
}
/* 제목에 쓰인 코드의 크기 지정 취소 */
h1 > code,
h2 > code,
h3 > code {
  font-size: revert;
}
/* 캡션(아래) */
figcaption p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-top: 0;
}
figcaption p.title-f1 {
  margin-top: -1rem;
}
/* 캡션(위) */
figcaption > p.title-t,
p.ex-caption {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-bottom: 0;
}
/* 캡션 번호 */
figcaption > p > strong,
p.ex-caption > strong {
  background-color: revert !important;
  margin-right: 0.5rem;
}
/* 박스의 제목 */
p.note-title {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
}
/* 일반 박스 */
div.side,
div.box,
div.note {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
}
/* 종류가 있는 박스(팁) */
/*
.typed-box_tip() {
  .typed-box_tip();
}
*/
/* 종류가 있는 박스(노트) */
/*
div.note {
  .typed-box_note();
}
*/
/* 종류가 있는 박스(주의) */
/*
.typed-box_caution() {
  .typed-box_caution();
}
*/
/* 인용 */
/* blockquote, */
p[class^="bq"],
p[class^="app"] {
  font-size: 0.9rem;
  color: #666666;
  position: relative;
  border-left: 3px solid #DA8596;
  padding: 0 1.5rem 0 2.5rem;
  margin: 0 2rem;
}
p.bqt::before,
p.bq:first-of-type::before,
p.appt:first-of-type::before {
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: -30px;
}
p.appt {
  padding-top: 1rem;
}
/* 인용 출처(또는 그냥 서명) */
p.right,
p.rightt {
  display: block;
  font-size: 0.8rem;
  text-align: right;
}
/* 문단수식 */
p[class^="eq"] {
  border: 1px dotted #C7B6DC;
  background-color: Lavender;
  padding: 0.5rem;
  text-align: center;
  margin: 0;
}
/* 판권지 */
section[title2="Copyright Page"] {
  font-size: 70%;
}
/* 목차 */
section[title2="Contents"] {
  font-size: 95%;
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
}
section[title2="Contents"] p {
  margin: 0;
}
section[title2="Contents"] a {
  text-decoration: none;
}
section[title2="Contents"] a:hover {
  text-decoration: underline;
}
section[title2="Contents"] ol {
  padding: 0;
  margin: 0;
}
section[title2="Contents"] ol li {
  padding-left: 0 !important;
}
section[title2="Contents"] p.toc-chap,
section[title2="Contents"] p.toc-part,
section[title2="Contents"] p.toc-fm,
section[title2="Contents"] p.toc-fmt {
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.5em;
}
section[title2="Contents"] p.toc-sec1 {
  font-size: 90%;
  margin-left: 2em;
  margin-top: 0;
}
section[title2="Contents"] p.toc-sec2 {
  font-size: 80%;
  margin-left: 4em;
  margin-top: 0;
}
/* 찾아보기 */
section[title2="Index"] {
  font-size: 95%;
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
}
section[title2="Index"] a {
  text-decoration: none;
}
section[title2="Index"] p,
section[title2="Index"] ul,
section[title2="Index"] h3 {
  margin: 0;
}
section[title2="Index"] ul {
  padding: 0;
}
section[title2="Index"] p.indexmain1,
section[title2="Index"] h2 {
  font-size: 110%;
  font-weight: 700;
  margin-top: 1rem;
}
section[title2="Index"] p.indexmain {
  font-size: 100%;
}
section[title2="Index"] p.indexsub {
  font-size: 90%;
  margin-left: 1em;
}
/* 각주. todo: util.js에서 전처리가 필요한데 일단 패스 */
p.footnote {
  border: 4px solid coral;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-width: 2px;
  margin-top: 0;
  padding-bottom: 0;
  /* 각주 텍스트 */
  font-size: 85%;
  font-family: sans-serif;
  color: #666666;
  padding-left: 0.5rem;
  margin-bottom: 0;
}
/* end of mixins */
/* 코드 줄번호 */
span.gray {
  color: gray;
}
/* 용어집 */
section[data-type="appendix"] p.gloss {
  text-indent: -2.5rem;
  padding-left: 2.5rem;
}
section[data-type="appendix"] p.gloss em:has(a) {
  background-color: revert !important;
}
section[data-type="appendix"] p.gloss-indent {
  padding-left: 2.5rem;
}
section[data-type="appendix"] ul.sq {
  padding-left: 3.75rem;
}
/* 퀴즈 */
p[class^="ques"] {
  text-indent: -1.25rem;
  padding-left: 1.25rem;
  margin: 1.5rem 0 0.5rem 0;
}
ol.lower-alpha {
  list-style-type: lower-alpha;
  margin-top: 0;
}
ol.lower-alpha p.alpha {
  margin: 0;
}
/* 퀴즈 정답 */
section[data-type="appendix"] p[class^="ques"] {
  padding-left: 2.5rem;
  margin-top: 0;
}
/* 참고문헌 */
section[data-type="appendix"] p.ref {
  text-indent: -1.25rem;
  padding-left: 1.25rem;
}
