/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1rem 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
pre {
  margin: 0;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1rem 0;
  padding: 0 0 0 2.25rem;
}
li p:last-child {
  margin-bottom: 0;
}
ul ul,
ol ol {
  margin: 0.3rem 0;
}
dl {
  margin-bottom: 1rem;
}
dl dt {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
dl dd {
  margin: 0 0 0.8rem 2rem;
}
dl dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th,
table thead {
  background-color: #eee;
  padding-right: 1rem;
  text-align: start;
}
table td {
  vertical-align: top;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* no2 */
.span-no2 {
  color: gray;
}
/* 강조 */
/* 강조 취소 */
/* 강조 취소(배경색만) */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 제목에 쓰인 코드의 크기 지정 취소 */
h1 > code,
h2 > code,
h3 > code,
h4 > code {
  font-size: 90% !important;
}
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* 각주 텍스트 */
/* dt, dd 한 줄에 */
/* end of mixins */
