@import "common.less";

/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
body>div[data-type] {
  .chapter();
}

/* 1단계 제목 */
h1 {
  .h1();
}

/* 2단계 제목 */
h2.sect1, h2[class^="fm-head"] {
  .h2();
}

/* 3단계 제목(연습문제도) */
h3.sect2, h3[class^="fm-head"], p.fm-exercise-head {
  .h3();
}

/* 4단계 제목 */
h4.sect3, h4[class^="fm-head"] {
  .h4();
}

/* 5단계 제목(p가??) */
h5.sect4 {
  .h5();
}

/* 6단계 제목 */
h6.sect5 {
  .h6();
}

/* no2 */
span.num-string {
  .span-no2();
}

/* 강조 */
em, i[class^="fm-italics"]:not([class^="timesitalic"]) {
  .em();
}

/* 강조 취소 */
div[title2="contents"] em, div[title2="brief contents"] em {
  .em_cancel();
}

/* 코드블록 */
pre.programlisting:not(.con), pre.code-area {
  .code-block();
}

/* 위에 캡션 있는 코드블록은 상단 여백 없앰 */
p.fm-code-listing-caption+div[data-type="example"]>pre.programlisting:not(.con) {
  margin-top: 0;
}

/* 코드블록 안/아래 원번호 */
span[class^="fm-combinumeral"] {
  .code-number();
}

/* 코드블록 아래 설명 */
p[class^="fm-code-annotation"], div.code-annotations-overlay-container /*, p.co-fm-toc */ {
  .code-number-desc();
  margin: 0 0 0.5rem 0;

  br {
    margin-top: 0.5rem;
    content: " ";
    display: block;
  }
}

/* 본문코드 */
span[class^="fm-code-in-"], code, kbd, span.CodeinText {
  .inline-code();
}


/* 캡션(아래) */
p.fm-figure-caption, figcaption>p, p.figurecaption, img+h5 {
  .caption_down();
}

p.fm-figure {
  margin-bottom: 0;
}

/* 캡션(위) */
p.fm-code-listing-caption, p.fm-table-caption, div[class*="-container"]>h5 {
  .caption_up();
}


/* 박스의 제목 */
p.fm-sidebar-title, span.fm-callout-head, span.print-book-callout-head, h5[class*="callout-container"] {
  .box-title();
}

/* 일반 박스 */
div.fm-sidebar-block, p.fm-callout, div.print-book-callout, div.callout-container {
  .box();

  p.fm-sidebar-text:has(br:only-child) {
    display: none;
  }
}

/* 종류가 있는 박스(팁) */
/*
.typed-box_tip() {
  .typed-box_tip();
}
*/

/* 종류가 있는 박스(노트) */
/*
.typed-box_note() {
  .typed-box_note();
}
*/

/* 종류가 있는 박스(주의) */
/*
.typed-box_caution() {
  .typed-box_caution();
}
*/


/* 인용 */
p.fm-quote, blockquote {
  .blockquote();
  padding-left: 3rem;
}

/* 여러 줄일 때 장식(") 제거 */
p.fm-quote+p.fm-quote, div:has(>blockquote)+div>blockquote {
  .blockquote();
  padding-left: 3rem;

  &::before {
    content:'';
  }
}

/* 인용 출처 */
p.fm-quote-source {
  .byline();
}


/* 판권지 */
div[title2="copyright"], div[title2="Copyright"] {
  .copyrights();
}


/* 목차 */
div[title2="contents"], div[title2="brief contents"] {
  .contents();

  strong, em {
    font-style: normal;
  }

  /* 목차 1단계 */
  p.tocchapters, p.tocparts, p[style="font-size: 110%;"], p:not([style]):has(strong>a>em), p:not([style]):has(>em) {
    .contents-l1();

    em {
      font-weight: bold;
    }
  }

  /* 목차 2단계 */
  p.fm-head-1toc, p[style^="margin-left: 2em;"] {
    .contents-l2();
  }

  /* 목차 3단계 */
  p.fm-head-2toc, p[style^="margin-left: 4em;"] {
    .contents-l3();
  }
}


/* 찾아보기 */
div[title2="index"] {
  .index();

  /* 찾아보기 헤딩 */
  p.grouptitlesix, p[style="font-size: 110%;"] {
    .index-h();
  }

  /* 찾아보기 1단계 */
  p.level1ix, p[style="margin-left: 0em;"] {
    .index-l1();
  }

  /* 찾아보기 2단계 */
  p.level2ix, p[style="margin-left: 1em;"] {
    .index-l2();
  }

  /* 찾아보기 3단계 */
  p.level3ix {
    .index-l3();
  }
}


/* 각주 */
div[data-type="footnotes"] {
  .footnote-area();
}

/* 각주 텍스트, 표 아래 각주도 포함 */
p[data-type="footnote"], p.fm-footnote {
  .footnote-text();
}
/* end of mixins */


/* 챕터 시작부 */
p.co-summary-head {
  border-top: 2px solid plum;
  border-right: 2px solid plum;
  border-left: 2px solid plum;
  margin: 10px 15px 0 15px;
  padding: 1rem;

  &+ul[class] {
    border-right: 2px solid plum;
    border-left: 2px solid plum;
    border-bottom: 2px solid plum;
    margin: 0 15px 10px 15px;
    padding-bottom: 1rem;
  }
}

/* 챕터 시작부(later ver. ex: Idiomatic Rust) */
div.introduction-summary {
  font-size: 90%;
  border: 2px solid plum;
  margin: 10px 15px 10px 15px;
  padding: 1rem 0 0 1rem;

  h3 {
    .em_cancel();
    margin: 0;
  }

  ul {
    padding-left: 1rem;
  }
}

/* 테이블 안 텍스트(later ver). 엘리먼트 스타일은 무시해야 함 */
table th:not(:has(p)), td:not(:has(p)) {
  padding: 0.25rem 0.5rem !important;
  /* 왜 추가했는지 모르겠지만, just use postgres에서 표 이상하게 나와서 주석 처리
  /* border: 1px solid #ddd; */
}

/* 잘못된?? 목록 */
ol+ol.faux-ol-li {
  margin-top: -1rem;
  padding-left: 1rem;

  ul {
    margin: 0;
  }
}

/* 연습문제 */
p.body-dialog {
  text-indent: -2.5rem;
  padding-left: 2.5rem;

  span.bluebold {
    color: blue;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 0.25rem;
  }
}
