/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1em 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
pre {
  margin: 0;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2.25em;
}
p + ul {
  margin: 0 0 1em 0;
}
li {
  margin-bottom: 0.5em;
}
li p {
  margin: 0;
}
ul ul,
ol ol {
  margin: 0.3em 0;
  list-style-type: upper-roman;
}
dl {
  margin-bottom: 1em;
}
dl dt {
  font-weight: bold;
  margin-bottom: 0.8em;
}
dl dd {
  margin: 0 0 0.8em 2em;
}
dl dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  font-size: 90%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th,
table thead {
  background-color: #eee;
}
table td {
  vertical-align: top;
}
table th,
table thead,
table td {
  border: 1px dotted #ddd;
  padding: 0.5rem 1rem;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* no2 */
.span-no2 {
  color: gray;
}
/* 강조 */
/* 강조 취소 */
/* 강조 취소(배경색만) */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 제목에 쓰인 코드의 크기 지정 취소 */
h1 > code,
h2 > code,
h3 > code,
h4 > code {
  font-size: 90% !important;
}
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* 각주 텍스트 */
/* 각주 번호 */
/* dt, dd 한 줄에 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
body > div[data-type] {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1:first-child {
  break-before: avoid;
}
/* 2단계 제목 */
h2.sect1,
h2[class^="fm-head"] {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
/* 3단계 제목(연습문제도) */
h3.sect2,
h3[class^="fm-head"],
p.fm-exercise-head {
  font-size: 1.375rem;
  font-weight: bold;
}
/* 4단계 제목 */
h4.sect3,
h4[class^="fm-head"] {
  font-size: 1.275rem;
  font-style: italic;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 5단계 제목(p가??) */
h5.sect4 {
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0 1rem;
}
/* 6단계 제목 */
h6.sect5 {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
}
/* 강조 */
em,
i[class^="fm-italics"]:not([class^="timesitalic"]) {
  background-color: #d2f8dc;
}
/* 강조 취소 */
div[title2="contents"] em {
  font-style: normal;
  font-weight: normal;
  background-color: revert !important;
}
/* 코드블록 */
pre.programlisting:not(.con),
pre.code-area {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
}
/* 위에 캡션 있는 코드블록은 상단 여백 없앰 */
p.fm-code-listing-caption + div[data-type="example"] > pre.programlisting:not(.con) {
  margin-top: 0;
}
/* 코드블록 안/아래 원번호 */
span[class^="fm-combinumeral"] {
  background-color: yellow;
  font-family: d2coding, monospace !important;
}
/* 코드블록 아래 설명 */
p[class^="fm-code-annotation"],
div.code-annotations-overlay-container {
  font-size: 0.9rem;
  color: darkblue;
  margin: 0 0 0.5rem 0;
}
p[class^="fm-code-annotation"] br,
div.code-annotations-overlay-container br {
  margin-top: 0.5rem;
  content: " ";
  display: block;
}
/* 본문코드 */
span[class^="fm-code-in-"],
code {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
}
/* 캡션(아래) */
p.fm-figure-caption,
figcaption > p,
p.figurecaption,
img + h5 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-top: 0;
}
p.fm-figure {
  margin-bottom: 0;
}
/* 캡션(위) */
p.fm-code-listing-caption,
p.fm-table-caption,
div[class*="-container"] > h5 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-bottom: 0;
}
/* 박스의 제목 */
p.fm-sidebar-title,
span.fm-callout-head,
span.print-book-callout-head,
h5[class*="callout-container"] {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
}
/* 일반 박스 */
div.fm-sidebar-block,
p.fm-callout,
div.print-book-callout,
div.callout-container {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
}
div.fm-sidebar-block p.fm-sidebar-text:has(br:only-child),
p.fm-callout p.fm-sidebar-text:has(br:only-child),
div.print-book-callout p.fm-sidebar-text:has(br:only-child),
div.callout-container p.fm-sidebar-text:has(br:only-child) {
  display: none;
}
/* 종류가 있는 박스(팁) */
/*
.typed-box_tip() {
  .typed-box_tip();
}
*/
/* 종류가 있는 박스(노트) */
/*
.typed-box_note() {
  .typed-box_note();
}
*/
/* 종류가 있는 박스(주의) */
/*
.typed-box_caution() {
  .typed-box_caution();
}
*/
/* 인용 */
p.fm-quote {
  font-size: 0.9rem;
  color: #666666;
  position: relative;
  border-left: 3px solid #DA8596;
  padding: 0 1.5rem 0 2.5rem;
  margin: 0 2rem 1.5rem 2rem;
  padding-left: 3rem;
}
p.fm-quote::before {
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: -30px;
}
/* 인용 출처 */
p.fm-quote-source {
  display: block;
  font-size: 0.8rem;
  text-align: right;
}
/* 판권지 */
div[title2="copyright"],
div[title2="Copyright"] {
  font-size: 70%;
}
/* 목차 */
div[title2="contents"] {
  font-size: 95%;
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
}
div[title2="contents"] p {
  margin: 0;
}
div[title2="contents"] a {
  text-decoration: none;
}
div[title2="contents"] a:hover {
  text-decoration: underline;
}
div[title2="contents"] strong,
div[title2="contents"] em {
  font-style: normal;
}
div[title2="contents"] p.tocchapters,
div[title2="contents"] p.tocparts,
div[title2="contents"] p[style="font-size: 110%;"],
div[title2="contents"] p:not([style]):has(strong>a>em) {
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.5em;
}
div[title2="contents"] p.tocchapters em,
div[title2="contents"] p.tocparts em,
div[title2="contents"] p[style="font-size: 110%;"] em,
div[title2="contents"] p:not([style]):has(strong>a>em) em {
  font-weight: bold;
}
div[title2="contents"] p.fm-head-1toc,
div[title2="contents"] p[style^="margin-left: 2em;"] {
  font-size: 90%;
  margin-left: 2em;
  margin-top: 0;
}
div[title2="contents"] p.fm-head-2toc,
div[title2="contents"] p[style^="margin-left: 4em;"] {
  font-size: 80%;
  margin-left: 4em;
  margin-top: 0;
}
/* 찾아보기 */
div[title2="index"] {
  font-size: 95%;
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
}
div[title2="index"] a {
  text-decoration: none;
}
div[title2="index"] p,
div[title2="index"] ul,
div[title2="index"] h3 {
  margin: 0;
}
div[title2="index"] p.grouptitlesix,
div[title2="index"] p[style="font-size: 110%;"] {
  font-size: 110%;
  font-weight: 700;
  margin: 1rem 0 0;
}
div[title2="index"] p.level1ix,
div[title2="index"] p[style="margin-left: 0em;"] {
  font-size: 100%;
}
div[title2="index"] p.level2ix,
div[title2="index"] p[style="margin-left: 1em;"] {
  font-size: 90%;
  margin-left: 1em;
}
div[title2="index"] p.level3ix {
  font-size: 85%;
  margin-left: 2em;
}
/* 각주 */
div[data-type="footnotes"] {
  border: 4px solid coral;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
/* 각주 텍스트, 표 아래 각주도 포함 */
p[data-type="footnote"],
p.fm-footnote {
  font-size: 85%;
  font-family: sans-serif;
  color: #666666;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
}
/* end of mixins */
/* 챕터 시작부 */
p.co-summary-head {
  border-top: 2px solid purple;
  border-right: 2px solid purple;
  border-left: 2px solid purple;
  margin: 10px 15px 0 15px;
  padding: 1rem;
}
p.co-summary-head + ul[class] {
  border-right: 2px solid purple;
  border-left: 2px solid purple;
  border-bottom: 2px solid purple;
  margin: 0 15px 10px 15px;
  padding-bottom: 1rem;
}
/* 챕터 시작부(later ver. ex: Idiomatic Rust) */
div.introduction-summary {
  border: 2px solid purple;
  margin: 10px 15px 10px 15px;
  padding: 1rem 0 0 1rem;
}
div.introduction-summary h3 {
  font-size: 100%;
  font-style: normal;
  font-weight: normal;
  background-color: revert !important;
  margin: 0;
}
div.introduction-summary ul {
  padding-left: 1rem;
}
/* 테이블 안 텍스트(later ver) */
table th:not(:has(p)),
td:not(:has(p)) {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
}
/* 잘못된?? 목록 */
ol + ol.faux-ol-li {
  margin-top: -1rem;
  padding-left: 1rem;
}
ol + ol.faux-ol-li ul {
  margin: 0;
}
/* 연습문제 */
p.body-dialog {
  text-indent: -2.5rem;
  padding-left: 2.5rem;
}
p.body-dialog span.bluebold {
  color: blue;
  font-weight: bold;
  font-family: sans-serif;
  margin-right: 0.25rem;
}
