@import "common.less";

/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
body>div[data-type] {
  .chapter();
}

/* 1단계 제목 */
h1 {
  .h1();
}

/* 2단계 제목 */
h2.sect1, h2[class^="fm-head"] {
  .h2();
}

/* 3단계 제목 */
h3.sect2, h3[class^="fm-head"] {
  .h3();
}

/* 4단계 제목 */
h4.sect3, p.fm-head2 {
  .h4();
}

/* 5단계 제목 */
h5.sect4 {
  .h5();
}

/* 6단계 제목 */
h6.sect5 {
  .h6();
}


/* 강조 */
i[class^="fm-italics"]:not([class^="timesitalic"]) {
  .em();
}

/* 코드블록 */
pre.programlisting:not(.con) {
  .code-block();
}

/* 위에 캡션 있는 코드블록은 상단 여백 없앰 */
p.fm-code-listing-caption+div[data-type="example"]>pre.programlisting:not(.con) {
  margin-top: 0;
}

/* 코드블록 안/아래 원번호 */
span[class^="fm-combinumeral"] {
  .code-number();
}

/* 코드블록 아래 설명 */
p[class^="fm-code-annotation"] /*, p.co-fm-toc */ {
  .code-number-desc();
  margin: 0;
}

/* 본문코드 */
span[class^="fm-code-in-"] {
  .inline-code();
}


/* 캡션(아래) */
p.fm-figure-caption /*, figcaption>p, p.figurecaption */ {
  .caption_down();
}

p.fm-figure {
  margin-bottom: 0;
}

/* 캡션(위) */
p.fm-code-listing-caption, p.fm-table-caption {
  .caption_up();
}


/* 박스의 제목 */
p.fm-sidebar-title, span.fm-callout-head {
  .box-title();
}

/* 일반 박스 */
div.fm-sidebar-block, p.fm-callout {
  .box();

  p.fm-sidebar-text:has(br:only-child) {
    display: none;
  }
}

/* 종류가 있는 박스(팁) */
/*
.typed-box_tip() {
  .typed-box_tip();
}
*/

/* 종류가 있는 박스(노트) */
/*
.typed-box_note() {
  .typed-box_note();
}
*/

/* 종류가 있는 박스(주의) */
/*
.typed-box_caution() {
  .typed-box_caution();
}
*/


/* 인용 */
p.fm-quote {
  .blockquote();
  padding-left: 3rem;
}

/* 인용 출처 */
/*
blockquote>p[data-type="attribution"] {
  .byline();
}
*/


/* 판권지 */
div[title2="Copyright"] {
  .copyrights();
}


/* 목차 */
div[title2="contents"] {
  .contents();

  /* 목차 1단계 */
  p.tocchapters, p.tocparts {
    .contents-l1();
  }

  /* 목차 2단계 */
  p.fm-head-1toc {
    .contents-l2();
  }

  /* 목차 3단계 */
  p.fm-head-2toc {
    .contents-l3();
  }
}


/* 찾아보기 */
div[title2="index"] {
  .index();

  /* 찾아보기 헤딩 */
  p.grouptitlesix {
    .index-h();
  }

  /* 찾아보기 1단계 */
  p.level1ix {
    .index-l1();
  }

  /* 찾아보기 2단계 */
  p.level2ix {
    .index-l2();
  }

  /* 찾아보기 3단계 */
  p.level3ix {
    .index-l3();
  }
}


/* 각주 */
div[data-type="footnotes"] {
  .footnote-area();

  /* 각주 텍스트 */
  p[data-type="footnote"] {
    .footnote-text();
  }
}
/* end of mixins */


/* 챕터 시작부 */
p.co-summary-head {
  border-top: 2px solid purple;
  border-right: 2px solid purple;
  border-left: 2px solid purple;
  margin: 10px 15px 0 15px;
  padding: 1rem;

  &+ul[class] {
    border-right: 2px solid purple;
    border-left: 2px solid purple;
    border-bottom: 2px solid purple;
    margin: 0 15px 10px 15px;
    padding-bottom: 1rem;
  }
}