/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1rem 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
}
li p:last-child {
  margin-bottom: 0;
}
ul ul,
ol ol {
  margin: 0.3rem 0;
}
dl {
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
dd {
  margin: 0 0 0.8rem 2rem;
}
dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th {
  background-color: #eee;
  padding-right: 0.25rem 1rem;
  text-align: start;
}
table td {
  vertical-align: top;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* 강조 */
/* 강조 취소 */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
section[data-type] {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1[class] {
  font-size: 2.1rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1[class]:first-child {
  break-before: avoid;
}
/* 2단계 제목 */
h2[id] {
  font-size: 1.75rem;
}
/* 3단계 제목 */
h3[id] {
  font-size: 1.375rem;
}
/* 4단계 제목 */
h4[id] {
  font-size: 1.275rem;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 5단계 제목 */
h5[id] {
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0 1rem;
}
/* 6단계 제목 */
h6[id] {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
}
/* 강조 */
em,
p:not(.indexletter) > b {
  background-color: lightgreen;
}
/* 코드블록 */
pre[data-type="example"] {
  font-size: 10pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
  margin-bottom: 0;
}
/* 터미널 */
/*
pre.con {
  .terminal();
}
*/
/* 코드블록 안/아래 원번호 */
span[class^="CodeAnnotation"] {
  background-color: yellow;
  font-family: d2coding, monospace !important;
  font-family: revert !important;
}
/* 본문코드 */
:not(pre[data-type="example"]) > code {
  font-size: 10pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 9.5pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
}
/* 본문코드+이탤릭 */
var {
  font-size: 10pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 9.5pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
  font-style: italic;
}
/* 캡션(아래) */
p.CodeListingCaption,
figcaption:not(.TableTitle) > p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  margin-top: 0;
}
/* 캡션(위) */
p.CodeLabel,
figcaption.TableTitle > p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  margin-bottom: 0;
}
p.CodeLabel + pre {
  margin-top: 0;
}
/* 일반 박스 */
aside[data-type="sidebar"] {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  /* 박스의 제목 */
}
aside[data-type="sidebar"] h2 {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
}
aside[data-type="sidebar"] div.hr {
  display: none;
}
/* 인용 */
blockquote {
  font-size: 0.9rem;
  color: #666666;
  margin: 0 2rem 1.5rem 2rem;
  position: relative;
  border-left: 3px solid #DA8596;
  padding: 0 1.5rem 0 1rem;
}
blockquote::before {
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: -30px;
}
blockquote p {
  position: relative;
  padding-left: 30px;
}
/* 인용 출처 */
p.right {
  display: block;
  font-size: 0.8rem;
  text-align: right;
}
/* 문단수식 */
/*
img[data-type="equation"] {
  .eq-block();
  width: auto;
}
*/
/* 본문수식 */
/*
img:not([data-type]) {
  .inline-eq();
  .eq-block();  //img라 테두리 넣기 위해
  width: auto;
}
*/
/* 판권지 */
section[title2="Copyright"] {
  font-size: 70%;
}
/* 찾아보기 */
section[title2="Index"] {
  font-size: 95%;
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
}
section[title2="Index"] p,
section[title2="Index"] ul,
section[title2="Index"] h3 {
  margin: 0;
}
section[title2="Index"] p.indexletter,
section[title2="Index"] p.indexmain {
  font-size: 1.375rem;
  margin-top: 1rem;
  font-weight: 700;
}
section[title2="Index"] p.Index1,
section[title2="Index"] p.indexsub {
  font-size: 100%;
}
section[title2="Index"] p.Index2,
section[title2="Index"] p.indexsubsub {
  font-size: 90%;
  padding-left: 1rem;
}
/* 각주 */
/* 각주 텍스트 */
/* end of mixins */
/* nsp 챕터 시작부 */
figure.opener {
  width: 20%;
  margin: 16px 32px 16px 0;
  float: left;
}
