/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1em 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
pre {
  margin: 0;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2.25em;
}
p + ul {
  margin: 0 0 1em 0;
}
li {
  margin-bottom: 0.5em;
}
li p {
  margin: 0;
}
ol ol {
  margin: 0.3em 0;
  list-style-type: upper-roman;
}
ul ul {
  margin: 0.3em 0;
}
dl {
  margin-bottom: 1em;
}
dl dt {
  font-weight: bold;
  margin-bottom: 0.8em;
}
dl dd {
  margin: 0 0 0.8em 2em;
}
dl dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  font-size: 90%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th,
table thead {
  background-color: #eee;
}
table td {
  vertical-align: top;
}
table th,
table thead,
table td {
  border: 1px dotted #ddd;
  padding: 0.5rem 1rem;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* no2 */
.span-no2 {
  color: gray;
}
/* 강조 */
/* 강조 취소 */
/* 강조 취소(배경색만) */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 제목에 쓰인 코드의 크기 지정 취소 */
h1 > code,
h2 > code,
h3 > code,
h4 > code {
  font-size: 90% !important;
}
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* 각주 텍스트 */
/* 각주 번호 */
/* dt, dd 한 줄에 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
section[data-type],
div[id][class]:not([class^="image"]):not([class^="exe"]) {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1[class] {
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1[class]:first-child {
  break-before: avoid;
}
/* 2단계 제목 */
h2[id] {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
/* 3단계 제목 */
h3[id] {
  font-size: 1.375rem;
  font-weight: bold;
}
/* 4단계 제목 */
h4[id] {
  font-size: 1.275rem;
  font-style: italic;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 5단계 제목 */
h5[id] {
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0 1rem;
}
/* 6단계 제목 */
h6[id] {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
}
/* no2 */
h1.chapter span.big {
  color: gray;
}
/* 강조 */
:not(p.hang) > em,
p[class*="indent"] > strong:not(:has(a)),
li strong {
  background-color: #d2f8dc;
}
/* 강조 취소 */
p.indexletter > b,
p.notep > em,
p.figcap > em,
p.caption > strong,
em:has(a) {
  background-color: revert !important;
}
/* 코드블록 */
pre[data-type="example"] {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
  margin-bottom: 0;
}
/* 터미널 */
/*
pre.con {
  .terminal();
}
*/
/* 코드블록 안/아래 원번호 */
span[class^="CodeAnnotation"] {
  background-color: yellow;
  font-family: d2coding, monospace !important;
  font-family: revert !important;
}
/* 본문코드 */
:not(pre[data-type="example"]) > code,
span[class^="literal"],
td > div > pre {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
}
/* 본문코드+이탤릭 */
var {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
  font-style: italic;
}
/* 강조(?) 본문코드 */
span[class^="codestrong"] {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
  font-weight: bold;
}
/* 가려진 본문코드(연습문제) */
span[class^="wight"] {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
  color: #FFF1F1;
  background-color: #FFF1F1;
  box-shadow: 0 0 0 1px lightgray inset;
}
/* 캡션(아래) */
p.CodeListingCaption,
figcaption:not(.TableTitle) > p,
p.figcap,
p.caption {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-top: 0;
}
/* 캡션(위) */
p.CodeLabel,
figcaption.TableTitle > p,
p.tabcap {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-bottom: 0;
}
p.CodeLabel + pre {
  margin-top: 0;
}
/* 일반 박스 */
aside[data-type="sidebar"],
div.note,
div[class^="box"],
div.exe {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  /* 박스의 제목 */
}
aside[data-type="sidebar"] h2,
div.note h2,
div[class^="box"] h2,
div.exe h2,
aside[data-type="sidebar"] p.notet,
div.note p.notet,
div[class^="box"] p.notet,
div.exe p.notet,
aside[data-type="sidebar"] p.boxtitle-c,
div.note p.boxtitle-c,
div[class^="box"] p.boxtitle-c,
div.exe p.boxtitle-c,
aside[data-type="sidebar"] p.box-title,
div.note p.box-title,
div[class^="box"] p.box-title,
div.exe p.box-title,
aside[data-type="sidebar"] p.exe-title,
div.note p.exe-title,
div[class^="box"] p.exe-title,
div.exe p.exe-title {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
}
aside[data-type="sidebar"] div.hr,
div.note div.hr,
div[class^="box"] div.hr,
div.exe div.hr {
  display: none;
}
/* 인용 */
blockquote,
div.bq,
p.bq,
div.blockquote {
  font-size: 0.9rem;
  color: #666666;
  position: relative;
  border-left: 3px solid #DA8596;
  padding: 0 1.5rem 0 2.5rem;
  margin: 0 2rem 1.5rem 2rem;
}
blockquote::before,
div.bq::before,
p.bq::before,
div.blockquote::before {
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: -30px;
}
/* 인용 출처 */
p.att {
  display: block;
  font-size: 0.8rem;
  text-align: right;
  padding-right: 1.5rem;
}
/* 문단수식 */
p.hang {
  border: 1px dotted #C7B6DC;
  background-color: Lavender;
  padding: 0.5rem;
  text-align: center;
  margin: 0 1rem 0 1rem;
  padding: 0 1rem 0 1rem;
}
/* 본문수식 */
/*
img:not([data-type]) {
  .inline-eq();
  .eq-block();  //img라 테두리 넣기 위해
  width: auto;
}
*/
/* 판권지 */
section[title2="Copyright"],
div[id="copy_xhtml"] {
  font-size: 70%;
}
/* 목차 */
div[id="toc_xhtml"] {
  font-size: 95%;
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
  /* 목차 1단계 */
}
div[id="toc_xhtml"] p {
  margin: 0;
}
div[id="toc_xhtml"] a {
  text-decoration: none;
}
div[id="toc_xhtml"] a:hover {
  text-decoration: underline;
}
div[id="toc_xhtml"] p[class^="toc"] {
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.5em;
}
/* 자세한-_- 목차 */
div[id="toc1_xhtml"] {
  font-size: 95%;
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
  /* 목차 1단계 */
  /* 목차 2단계 */
  /* 목차 3단계 */
}
div[id="toc1_xhtml"] p {
  margin: 0;
}
div[id="toc1_xhtml"] a {
  text-decoration: none;
}
div[id="toc1_xhtml"] a:hover {
  text-decoration: underline;
}
div[id="toc1_xhtml"] p[class^="toc1"] {
  font-size: 110%;
  font-weight: bold;
  margin-top: 0.5em;
}
div[id="toc1_xhtml"] p[class="toc-a"] {
  font-size: 90%;
  margin-left: 2em;
  margin-top: 0;
}
div[id="toc1_xhtml"] p[class="toc-b"] {
  font-size: 80%;
  margin-left: 4em;
  margin-top: 0;
}
/* 찾아보기 */
section[title2="Index"] {
  font-size: 95%;
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
}
section[title2="Index"] a {
  text-decoration: none;
}
section[title2="Index"] p,
section[title2="Index"] ul,
section[title2="Index"] h3 {
  margin: 0;
}
section[title2="Index"] p.indexletter,
section[title2="Index"] p.indexmain {
  font-size: 110%;
  font-weight: 700;
  margin: 1rem 0 0;
}
section[title2="Index"] p.Index1,
section[title2="Index"] p.indexsub {
  font-size: 100%;
}
section[title2="Index"] p.Index2,
section[title2="Index"] p.indexsubsub {
  font-size: 90%;
  margin-left: 1em;
}
/* 찾아보기(how ai works) */
div[id="index_xhtml"] {
  font-size: 95%;
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
}
div[id="index_xhtml"] a {
  text-decoration: none;
}
div[id="index_xhtml"] p,
div[id="index_xhtml"] ul,
div[id="index_xhtml"] h3 {
  margin: 0;
}
div[id="index_xhtml"] h2,
div[id="index_xhtml"] h3.index_h3 {
  font-size: 110%;
  font-weight: 700;
  margin: 1rem 0 0;
}
div[id="index_xhtml"] p.indexmain {
  font-size: 100%;
}
div[id="index_xhtml"] p.indexsub {
  font-size: 90%;
  margin-left: 1em;
}
/* 각주 */
/* 각주 텍스트 */
/* end of mixins */
/* nsp 챕터 시작부 */
figure.opener,
h1:first-child + div[class^="image"] {
  width: 20%;
  margin: 16px 32px 16px 0;
  float: left;
}
/* 가운데(how ai works) */
p[class^="center"],
div.cover {
  text-align: center;
}
/* 용어집 등(how ai works) */
div[id="glossary_xhtml"] p.glossary1,
div[id="resources_xhtml"] p.glossary1,
div[id="glossary_xhtml"] p.noindentt,
div[id="resources_xhtml"] p.noindentt,
div[id="glossary_xhtml"] p.noindent,
div[id="resources_xhtml"] p.noindent {
  margin-bottom: 0;
}
div[id="glossary_xhtml"] p.glossary,
div[id="resources_xhtml"] p.glossary,
div[id="glossary_xhtml"] p.noindent2,
div[id="resources_xhtml"] p.noindent2 {
  margin-top: 0;
}
/* 코드가 그림인 경우가 있어 너비 100%로 복원 */
div[class^="image"] > img {
  max-width: 100%;
}
