/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1rem 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
pre {
  margin: 0;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1rem 0;
  padding: 0 0 0 2.25rem;
}
li p:last-child {
  margin-bottom: 0;
}
ul ul,
ol ol {
  margin: 0.3rem 0;
}
dl {
  margin-bottom: 1rem;
}
dl dt {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
dl dd {
  margin: 0 0 0.8rem 2rem;
}
dl dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  font-size: 90%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th,
table thead {
  background-color: #eee;
}
table td {
  vertical-align: top;
}
table th,
table thead,
table td {
  border: 1px dotted #ddd;
  padding: 0.5rem 1rem;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* no2 */
.span-no2 {
  color: gray;
}
/* 강조 */
/* 강조 취소 */
/* 강조 취소(배경색만) */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 제목에 쓰인 코드의 크기 지정 취소 */
h1 > code,
h2 > code,
h3 > code,
h4 > code {
  font-size: 90% !important;
}
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* 각주 텍스트 */
/* dt, dd 한 줄에 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
body > div[id] {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1:first-child {
  break-before: avoid;
}
h1.chapterNumber {
  display: none;
}
/* 2단계 제목 */
h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
/* 3단계 제목 */
h3 {
  font-size: 1.375rem;
  font-weight: bold;
}
/* 4단계 제목 */
h4 {
  font-size: 1.275rem;
  font-style: italic;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 5단계 제목 */
h5 {
  font-size: 1.05rem;
  font-weight: bold;
  padding: 0 1rem;
}
/* 6단계 제목 */
h6 {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
}
/* no2 */
.chapter-number {
  color: gray;
}
/* 강조 */
:not(th) > p > em,
:not(p.Table-Column-Heading--PACKT-) > strong.keyword,
:not(pre) > strong.bold,
:not(pre) > em.italic {
  background-color: #d2f8dc;
}
/* 강조 취소(배경색만) */
thead strong.bold,
th strong.bold {
  font-style: normal;
  font-weight: normal;
  background-color: revert !important;
  font-weight: bold;
}
/* 코드블록 */
pre.code,
pre.source-code {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
}
/* 터미널 */
pre.con,
pre.console,
pre[data-type="terminal"] {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  color: white;
  background-color: purple;
  border-left: 8px solid lightgray;
  padding-left: 4px;
}
/* 본문코드 */
code.Code-In-Text--PACKT-,
strong.source-inline {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
  font-weight: normal;
}
/* 캡션(아래) */
p.packt_figref,
p[class$="-Caption"] {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-top: 0;
}
figure,
table {
  margin-bottom: 0;
}
/* 캡션(위): todo */
/*
p.fm-code-listing-caption, p.fm-table-caption {
  .caption_up();
}
*/
/* 박스의 제목 */
p.callout-heading {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
  margin-bottom: 0;
  padding: 0.5rem;
}
/* 일반 박스 */
p.callout {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
}
p.callout-heading + p.callout {
  margin-top: 0;
}
/* 종류가 있는 박스(팁) */
div.packt_tip {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  padding-left: 80px;
  background-image: url("@tip.jpg");
}
/* 종류가 있는 박스(노트) */
div.note {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  padding-left: 80px;
  background-image: url("@note.jpg");
}
/* 종류가 있는 박스(주의) */
/*
.typed-box_caution() {
  .typed-box_caution();
}
*/
/* 인용 */
p.author-quote {
  font-size: 0.9rem;
  color: #666666;
  position: relative;
  border-left: 3px solid #DA8596;
  padding: 0 1.5rem 0 2.5rem;
  margin: 0 2rem 1.5rem 2rem;
}
p.author-quote::before {
  content: '\201C';
  font-size: 60px;
  position: absolute;
  left: 10px;
  top: 0;
  margin-top: -30px;
}
/* 인용 출처 */
/*
blockquote>p[data-type="attribution"] {
  .byline();
}
*/
/* 문단수식 */
img[data-type="equation"] {
  border: 1px dotted #C7B6DC;
  background-color: Lavender;
  padding: 0.5rem;
  text-align: center;
  width: auto;
}
/* 본문수식 */
img:not([data-type]) {
  background-color: #C7B6DC;
  border: 1px dotted #C7B6DC;
  background-color: Lavender;
  padding: 0.5rem;
  text-align: center;
  width: auto;
}
/* 판권지...는 불가하고 그 속의 일부-_- 텍스트 */
p.hidden {
  font-size: 70%;
}
/* 찾아보기 */
div[title2="Index"] {
  font-size: 95%;
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
  /* 찾아보기 3단계 */
  /* 찾아보기 헤딩 */
  /* 찾아보기 1단계 */
  /* 찾아보기 2단계 */
}
div[title2="Index"] a {
  text-decoration: none;
}
div[title2="Index"] p,
div[title2="Index"] ul,
div[title2="Index"] h3 {
  margin: 0;
}
div[title2="Index"] p.Index-Section-Head,
div[title2="Index"] p.index-head {
  font-size: 110%;
  font-weight: 700;
  margin: 1rem 0 0;
}
div[title2="Index"] p.Index-Level-1,
div[title2="Index"] p:not([class]) {
  font-size: 100%;
}
div[title2="Index"] p.Index-Level-2,
div[title2="Index"] p.index-2 {
  font-size: 90%;
  margin-left: 1em;
}
/* 각주 */
/* 각주 텍스트 */
/* end of mixins */
