/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1rem 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
}
li p:last-child {
  margin-bottom: 0;
}
ul ul,
ol ol {
  margin: 0.3rem 0;
}
dl {
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
  margin-bottom: 0.8rem;
}
dd {
  margin: 0 0 0.8rem 2rem;
}
dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th {
  background-color: #eee;
  padding-right: 0.25rem 1rem;
  text-align: start;
}
table td {
  vertical-align: top;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* 강조 */
/* 강조 취소 */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* dt, dd 한 줄에 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
body > div[data-type] {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1 {
  font-size: 2.1rem;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1:first-child {
  break-before: avoid;
}
/* 2단계 제목 */
h2 {
  font-size: 1.75rem;
}
/* 3단계 제목 */
h3 {
  font-size: 1.375rem;
}
/* 4단계 제목 */
h4 {
  font-size: 1.275rem;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 강조 */
span.emph {
  background-color: lightgreen;
  font-weight: bold;
}
/* 코드블록 */
table.processedcode {
  font-size: 10pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
  border: 0;
  width: 100%;
}
/* 코드블록 내 행수 등 */
td.codeinfo {
  background-color: lightgreen;
}
td.codeinfo span.codeprefix {
  color: green;
}
/* 본문코드 */
span.cf {
  font-size: 10pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 9.5pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
}
span.cf.ic,
span.cf.dir,
span.cf.filename {
  font-weight: bold;
}
/* 캡션(아래) */
/*
.caption_down() {
  .caption_down();
}
*/
/* 캡션(위) */
div.livecodelozenge {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  margin-bottom: 0;
}
/* 박스의 제목 */
table:has(img[data-type]) thead p {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
}
/* 일반 박스 */
/*
.box() {
  .box();
}
*/
/* 종류가 있는 박스(팁) */
table:has(img[data-type="tip"]) {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  padding-left: 80px;
  background-image: url("@tip.jpg");
  background-position: left 44px;
}
table:has(img[data-type="tip"]) > thead {
  height: 44px;
}
/* 종류가 있는 박스(노트) */
table:has(img[data-type="note"]) {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  padding-left: 80px;
  background-image: url("@note.jpg");
  background-position: left 44px;
}
table:has(img[data-type="note"]) > thead {
  height: 44px;
}
/* 종류가 있는 박스(주의) */
table:has(img[data-type="warning"]) {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  padding-left: 80px;
  background-image: url("@warning.jpg");
  background-position: left 44px;
}
table:has(img[data-type="warning"]) > thead {
  height: 44px;
}
/* 원서 박스 그림 무시 */
img[data-type="tip"],
img[data-type="note"],
img[data-type="warning"] {
  display: none;
}
/* 인용 */
/*
.blockquote() {
  .blockquote();
}
*/
/* 인용 출처 */
/*
.byline() {
  .byline();
}
*/
/* 각주 */
div.footnotes {
  border-top: 4px solid coral;
  border-bottom: 4px solid coral;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  /* 각주 텍스트 */
  /* 각주 텍스트 */
}
div.footnotes dl {
  font-size: 85%;
  color: #666666;
  padding-left: 0.5rem;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: max-content auto;
}
div.footnotes dl p {
  margin: 0;
}
div.footnotes dl dt {
  width: 16px;
  margin: 0;
}
div.footnotes dl dd {
  margin: 0 0 0 1rem;
}
/* end of mixins */
