/* start of native tags */
html {
  font-size: 100%;
  overflow-y: scroll;
}
body {
  color: #272727;
  font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
  line-height: 1.7;
  padding: 1rem;
  margin: auto auto auto 2rem;
  max-width: 42rem;
  background-color: #ffffff;
}
:target {
  animation: fade 1s ease-in-out 0s;
}
@keyframes fade {
  from {
    background-color: pink;
    box-shadow: 0 0 5px 10px palevioletred;
  }
  to {
    background-color: revert;
    box-shadow: revert;
  }
}
p {
  margin: 1em 0;
}
code,
samp {
  font-family: "Sarasa Fixed K", d2coding, monospace;
}
pre {
  margin: 0;
}
h1,
h2,
h3 {
  break-after: avoid;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2.25em;
}
p + ul {
  margin: 0 0 1em 0;
}
li {
  margin-bottom: 0.5em;
}
li p {
  margin: 0;
}
ol ol {
  margin: 0.3em 0;
  list-style-type: upper-roman;
}
ul ul {
  margin: 0.3em 0;
}
dl {
  margin-bottom: 1em;
}
dl dt {
  font-weight: bold;
  margin-bottom: 0.8em;
}
dl dd {
  margin: 0 0 0.8em 2em;
}
dl dd:last-child {
  margin-bottom: 0;
}
figure {
  margin-left: 0;
  margin-right: 0;
}
img {
  max-width: 90%;
  height: auto;
  border: 0;
  vertical-align: middle;
}
table {
  font-size: 90%;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 40%;
}
table p {
  margin: 0.25rem 0.5rem;
}
table th,
table thead {
  background-color: #eee;
}
table td {
  vertical-align: top;
}
table th,
table thead,
table td {
  border: 1px dotted #ddd;
  padding: 0.5rem 1rem;
  text-align: start;
}
/* end of native tags */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
/* 1단계 제목 */
/* 2단계 제목 */
/* 3단계 제목 */
/* 4단계 제목 */
/* 5단계 제목 */
/* 6단계 제목 */
/* no2 */
.span-no2 {
  color: gray;
}
/* 강조 */
/* 강조 취소 */
/* 강조 취소(배경색만) */
/* 코드(베이스) */
/* 코드블록 */
/* 터미널 */
/* 코드블록 안/아래 원번호 */
/* 코드블록 아래 설명 */
/* 본문코드 */
/* 제목에 쓰인 코드의 크기 지정 취소 */
h1 > code,
h2 > code,
h3 > code,
h4 > code {
  font-size: 90% !important;
}
/* 캡션(베이스) */
/* 캡션(아래) */
/* 캡션(위) */
/* 박스의 제목 */
/* 일반 박스 */
/* 종류가 있는 박스(베이스). 일반 박스가 베이스. 오라일리와 팩트만 사용. */
/* 종류가 있는 박스(팁) */
/* 종류가 있는 박스(노트) */
/* 종류가 있는 박스(주의) */
/* 인용 */
/* 인용 출처나 서명 */
/* 문단수식 */
/* 본문수식 */
/* 판권지 */
/* 목차 */
/* 찾아보기 */
/* 각주 */
/* 각주 텍스트 */
/* 각주 번호 */
/* dt, dd 한 줄에 */
/* end of mixins */
/* start of mixins */
/* 챕터(파트): 이런 건 setting.js를 참고하자. */
body > div[data-type] {
  border-top: 16px solid blue;
  margin-top: 5rem;
}
/* 1단계 제목 */
h1 {
  font-size: 2.1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
  break-before: page;
}
h1:first-child {
  break-before: avoid;
}
/* 2단계 제목 */
:not(div[data-type="front-mat"]>div) > h2,
table.arr-recipe:has(tr[title2]) {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
  border: 0;
  margin-top: 2rem;
}
/* 3단계 제목 */
h3 {
  font-size: 1.375rem;
  font-weight: bold;
}
/* 4단계 제목 */
h4 {
  font-size: 1.275rem;
  font-style: italic;
  font-weight: bold;
  padding: 0 0.75rem;
}
/* 강조 */
span.emph {
  background-color: #d2f8dc;
  font-weight: bold;
}
/* 코드블록 */
table.processedcode {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  background-color: whitesmoke;
  border-left: 8px solid lightgray;
  padding-left: 4px;
  border: 0;
  width: 100%;
}
table.processedcode + table.processedcode {
  margin-top: -1rem;
}
/* 코드블록 내 행수 등 */
td.codeinfo {
  background-color: lightgreen;
  width: 8px;
}
td.codeinfo span.codeprefix {
  color: green;
}
/* 본문코드 */
span.cf {
  font-size: 10.5pt;
  font-family: "Sarasa Fixed K", d2coding, monospace;
  line-height: 1.25;
  white-space: pre;
  overflow-wrap: break-word;
  font-size: 10pt;
  font-weight: normal;
  font-style: normal;
  color: #000;
  background-color: #ccddff;
  border: 0;
  padding-left: 0;
}
span.cf.ic,
span.cf.dir,
span.cf.filename {
  font-weight: bold;
}
/* 캡션(아래) */
/*
.caption_down() {
  .caption_down();
}
*/
/* 캡션(위) */
div.livecodelozenge {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: normal;
  color: royalblue;
  padding: 0;
  margin-bottom: 0;
}
/* 박스의 제목 */
table:has(img[data-type]) thead p {
  font-size: 0.975rem;
  font-weight: bold;
  padding: 0 1.1rem;
  margin: 1rem 0 0.5rem 0;
}
/* 일반 박스 */
/*
.box() {
  .box();
}
*/
/* 종류가 있는 박스(체계가 오라일리와 다르게 네 가지: 중요, 정보, 팁, 경고) */
table:has(img[id]) {
  max-width: 90%;
  font-size: 90%;
  margin-top: 32px;
  margin-bottom: 32px;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid silver;
  padding: 0.5rem;
  padding-left: 80px;
  background-image: url("@tip.jpg");
  background-image: none;
}
table:has(img[id]) > thead {
  height: 44px;
}
/* 인용 */
/*
.blockquote() {
  .blockquote();
}
*/
/* 인용 출처 */
/*
.byline() {
  .byline();
}
*/
/* 각주 */
div.footnotes {
  border: 4px solid coral;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  /* 각주 텍스트 */
}
div.footnotes dl {
  font-size: 85%;
  font-family: sans-serif;
  color: #666666;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  display: grid;
  grid-template-columns: max-content auto;
}
div.footnotes dl p {
  margin: 0;
}
div.footnotes dl dt {
  width: 16px;
}
div.footnotes dl dd {
  margin: 0 0 0 1rem;
}
/* end of mixins */
